
/*REGLAS CSS*/

header{

    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    color: #D3D04F;

    display: flex;
    align-items: center;
    
    justify-content: center;
    margin: 10px;
    padding: 20px;
    background-color: #213363;

    box-shadow: 5px 5px 15px gray;
}

h2{
    color: #17594A;
}

main{
    align-items: center;
    justify-content: center;

    font-family: 'Archivo Narrow', sans-serif;
    background-color: whitesmoke;
    margin: 10px;
    padding: 20px;
}

footer{
    font-family: 'Archivo Narrow', sans-serif;   
    margin: 10px;
    padding: 20px; 
    background-color: #213363;

    /*compartir*/
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 15px gray;
}

/*-Inicia código compartido para simular botón*/
.boton{
    display: flex;
    justify-content: center; 
}

.boton a{
    margin-top: 50px;
    border: 3px solid #17594A; /*anchura, estilo y color borde*/
    padding: 20px; /*espacio alrededor texto*/
    background-color: #213363; /*color botón*/
    color: #8EAC50; /*color texto*/
    text-decoration: none; /*decoración texto*/
    font-family: 'Julius Sans One', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/

    width: 250px;
    box-shadow: 5px 5px 15px gray;

    text-align: center;

}

.boton a:hover{
    transform: translateY(-15px);
}
/*--Termina código compartido para simular botón*/

.vista-mapillary{
    display: flex;
    justify-content: center;
    
    width: 640; 
    height: 320;
}

.vista-texto{
    margin: 20px;
    padding: 10px;
}

/*-Inicia el código compartido en ejercicio de clase*/
.media-icons{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.media-icons a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #D3D04F;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #17594A;
    transition: all 0.3s ease;
   
  }

  .media-icons a:hover{
    color: #17594A;
    background-color: #D3D04F;
    border-color: #8EAC50;
  }
/*--Termina el código compartido en ejercicio de clase*/

/*Reglas CSS para bóton Ir arriba
Especificar que tipo de selector es*/

  #go-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #go-top-button:hover {
    /*modificar a color de la paleta seleccionada*/
    background-color: #555;
  }
  